.next-events-title{
    display: flex;
    padding: 20px 4%;
    margin: 20px 55px 0 50px;
    justify-content: space-between;
}


.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto
}

.display-cards{
    padding: 20px 4%;
    display: flex;
    justify-content: space-evenly;
    height: 400px;
}

.novo-evento button{
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #FBC02D;
    font-weight:600;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.novo-evento button:hover{
    background-color: #34699C;
    color: #FBC02D;
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 1s ease, visibility 1s ease;
    opacity: 1;
    visibility: visible;
}

.loader-container.hidden {
    opacity: 0;
    visibility: hidden;
}

.loader-container svg {
    width: 20rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loader-container svg text {
    font-size: 100px;
    stroke-width: 2;
    letter-spacing: -6px;
    animation: animate-stroke 4s ease alternate infinite;
}

@keyframes animate-stroke {
    0% { fill: transparent; stroke: white; stroke-dasharray: 0 32%; }
    50% { fill: transparent; stroke: #34699C; }
    100% { fill: #34699C; stroke: #FBC02D; }
}

.novo-evento {
    margin-left: auto;
}

.section-category {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-category {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.swiper-category {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.category-events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-category {
    background-color: #FBC02D;
    color: #000;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 36px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.btn-category:hover {
    background-color: #34699C;
    color: #FBC02D;
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}


.container-promoted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6fafc;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.img-container-promoted img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}

.inf-container-promoted {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}
.swiper-container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    position: relative;
    overflow: visible;
}

.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
    color: #FBC02D;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}


.section-promoted {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-section-promoted {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
.swiper-promoted {
    width: 100%;
    max-width: 1200px;
    height: auto;
    position: relative;
    overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
    color: #FBC02D;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn-container-promoted {
    width: 100%;
    margin-top: 10px;
}
.btn-container-promoted button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: #FBC02D;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-container-promoted button:hover {
    background-color: #34699C;
    color: #fff;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .swiper-container .swiper-pagination {
        bottom: -10px;
    }

    .btn-container-promoted button {
        padding: 12px;
        font-size: 14px;
    }
}

.swiper-container .swiper-pagination {
    position: relative;
    bottom: -20px;
    text-align: center;
}

