* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 a{
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #34699C;
    height: 80px;
}

.left {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.left h1{
    padding-left: 15px;
    font-weight: bold;
    font-style: italic;
    color: #012E59;
    display: flex;
    align-items: center;
}

.left #logo {
    font-size: 50px;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
}

.right #register {
    background-color: #1A4B7A;
    color: #E3E3E3;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.right #register:hover {
    background-color: #FBC02D;
    color: #000000;
}

.right #login:hover {
    background-color: #1A4B7A;
    color: #E3E3E3;
}

.right button {
    padding: 10px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    font-size: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.right .auth {
    display: flex;
    justify-content: center;
}

.right button:hover {
    background-color: #1A4B7A;
    color: #FBC02D;
}


.right #login {
    background-color: #FBC02D;
    width: 80px;
    height: 40px;
    border-radius: 20px;
}

.right #register {
    background-color: #1A4B7A;
    color: #E3E3E3;
    width: 80px;
    height: 40px;
    border-radius: 20px;
}



.profile-menu {
    position: relative;
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    right: 0;
    border: none;
    border-radius: 8px;
}

.profile-menu:hover .dropdown {
    display: block;
}

.dropdown button {
    background-color: transparent;
    border: none;
    padding: 8px 16px;
    text-align: left;
    width: 100%;
}

.dropdown button:hover {
    background-color: #f1f1f1;
}
